@font-face {
	font-family: 'beyond_the_mountains';
	src: url('beyond_the_mountains.eot');
	src: local('☺'), url('beyond_the_mountains.woff') format('woff'), url('beyond_the_mountains.ttf') format('truetype'), url('beyond_the_mountains.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body{
    background-image: url(fon_glav2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1000;
    padding: 40px 0;
    font-weight: 600;
}
header:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    background: black;
    z-index: -1;
    opacity: .6;
}
header:after {
    content: '';
    height: 10px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    background: url(triangle_black.png) repeat-x;
    background-size: 26px 10px;
    opacity: .6;
}
.img_logo{
 padding-right:920px;
}
ul{ 
    margin:0; 
    margin-left: 440px; 
    margin-top:-62px; 
    list-style: none; 
    padding-left: 0; 
    color:white; 
    display: flex; 
    } 
    a{ 
    text-decoration: none; 
    display: block; 
    color:white; 
    transition:.5s all;
    } 
    a:hover{ 
    color:red; 
    transition: .5s all; 
    } 
    li{ 
    margin: 0 18px; 
    cursor: pointer; 
    }
    .menu_head{
        font-family: 'Open Sans', sans-serif;
        font-size:14px;   
    }
 button{
        margin-left:850px;
        margin-top:-49px;
        width:260px;
        height:55px;
        background: #EF0031;
        border: 2px solid #EF0031;
        border-radius: 2px;
        transition: .5s all;
 }  
 button:hover{
     background:none;
     border: 2px solid #EF0031;
     transition:.5s all;
     cursor: pointer;
 }
 .button{
     font-family: 'Open Sans', sans-serif;
     color:white;
     margin-left:849px;
     margin-top:-38px;
 }
 h1{
     text-align:center;
     color:white;
     margin-top:380px;
     font-family: 'beyond_the_mountains';
     font-size:100px;
     box-shadow: 2px black;
    
 }
 h5{
    font-family: 'Open Sans', sans-serif;
    color:white;
    text-align:center;  
    margin-top: -210px;
    font-size:18px;
    box-shadow: 10px black;
 }
 .button2{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    text-align: center;
    background: #EF0031;
    color: #fff;
    z-index: 1;
    line-height: 50px;
    width:200px;
    height:50px;
    border-radius: 3px;
    margin-left:570px;
    margin-top:150px;
    transition: .5s all;
 } 
 .button2:hover{
     cursor: pointer;
     color:black;
     background:white;
     transition: .5s all;
     width:250px;
 }
 .img_bg{
    margin-left:-20px;
    margin-top:500px;
 }
 .our_story:after{
    content: '';
    height: 10px;
    position: absolute;
    bottom: -205px;
    left: 0;
    right: 0;
    background: url(triangle.png) repeat-x;
    background-size: 26px 10px;
 }
.our_story{
     width:1280px;
     height:280px;
 }
 .our-st-img1{ 
    margin-top:90px;
    margin-left:-8px;
    }
.our-st-img2{
   margin-top:-300px;
   display:flex;
   justify-content: flex-end;
}
.logo{
    margin-top:-200px;
    margin-left:643px;
}
h4{
    font-size:50px;
    color: #333333;
    font-family: 'beyond_the_mountains';
    margin-top: -300px;
    text-align:center;
}
p{
    color: #555555;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    margin-left:-480px;
    margin-top:150px;
}
.text2{
    color: #555555;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    margin-right:235px;
    margin-top:-70px;
}
.triangles:after{
    content: '';
    height: 10px;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    background: url(triangle.png) repeat-x;
    background-size: 26px 10px;
    -webkit-transform: rotate(180deg);
    margin-top:1440px;
}
.best_sellers{
    margin-left:-8px;
    margin-top:-80px;
    
}
.logo2{
    margin-top:-920px;
    margin-left:635px;
}
h3{
    margin-top:200px;
    font-size:50px;
    color: whitesmoke;
    font-family: 'beyond_the_mountains';
    margin-top: 2px;
    text-align:center;
    box-shadow: 2px black;
}
